{% extends 'layout.twig' %}

{% block content %}
  <h1 id="page-title">
    {{ post.title }}
  </h1>

  {% for post in posts %}
    {{ post.content }}
  {% endfor %}
  {{ shortcode('[contact-form-7 id="76" title="Contact form 1"]') }}
{% endblock %}