{% extends 'layout.twig' %}

{% block content %}
  <h1 id="page-title">{{ post.title }}</h1>
  <div class="post-news-inner">
    {{ shortcode('[list_post post_type="post" per_page=9]') }} 
  </div>
{% endblock %}