// Gray color
$gray-33: #333333;
$gray-ed: #EDF0F2;
$gray-e5: #E5E8EB;
$gray-30: #303F50;

// Main color
$blue: #054D28;
$red: #DA4B38;
$black: #000000;
$while: #ffffff;

// Valur color
$color-primary: $blue;
$color-secondary: $red;
$color-page-title: $color-secondary;
$color-text: $gray-33;
$color-link: $color-primary;
$color-border: $gray-e5;

// Custom color
$bg-page: $while;
$bg-menu: $gray-ed;
$bg-footer: $gray-30;
$bg-title: $gray-ed;
$bd-title: $color-primary;
