{% block footer %}
  <footer id="footer" class="footer">
    <div class="container">
      <div class="footer-contact">
        {{ acfwidget('content_footer', 'footer_widget-2') }}
      </div>
      <div class="footer-logo">
        <img src="{{ acfwidget('logo_footer', 'footer_widget-2') }}" />
      </div>
      <div class="block-popup-footer">
        {{ acfwidget('popup_footer', 'footer_widget-2') }}
      </div>
    </div>
  </footer>
{% endblock %}
