#footer {
  background-color: $bg-footer;
  padding: rem(30px 0);
}

.footer {
  color: $while;
}

.footer-contact,
.footer-logo {
  text-align: center;

  @include breakpoint(desktop) {
    display: inline-block;
    vertical-align: middle;
    width: 49.8%;
  }
}

.block-popup-footer {
  @include border-radius(rem(0 5px 5px 0));
  @include box-shadow($color-text rem(0px 0px 10px 1px));
  @include transition(all 0.5s ease);
  background-color: $while;
  border-color: $color-text;
  border-style: solid;
  border-width: rem(4px 4px 4px 0);
  bottom: 10%;
  color: $color-text;
  left: 0;
  position: fixed;
  z-index: 9;

  @include breakpoint(desktop) {
    bottom: -100%;

    &.showpopup {
      bottom: 10%;
    }
  }

  &.close {
    @include box-shadow(none);

    .icon-popup {
      background-color: $while;
      border-radius: 0;
      height: rem(30px);
      left: 100%;
      right: auto;
      width: rem(30px);

      &:before {
        line-height: rem(30px);
      }
    }
  }

  .icon-popup {
    @include box-shadow($color-text rem(0 0 10px 0));
    background-color: $while;
    border-radius: rem(100px);
    border: rem(2px) solid $color-text;
    cursor: pointer;
    height: rem(20px);
    position: absolute;
    right: rem(-10px);
    text-align: center;
    text-indent: rem(-99999px);
    top: rem(-10px);
    width: rem(20px);

    &:before {
      color: $color-text;
      float: left;
      height: 100%;
      line-height: rem(16px);
      text-indent: 0;
      width: 100%;
    }
  }

  p {
    margin-bottom: 0;
  }

  .popup-title,
  .popup-content {
    padding: rem(10px 20px);
  }

  .popup-title {
    background-color: $bg-popup;
    border-bottom: rem(1px) solid $color-border;
    font-size: rem(24px);
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
  }

  .popup-content {
    a {
      color: $color-secondary;
    }
  }
}

