.container {
  max-width: 100%;
  padding: rem(0 10px);

  @include breakpoint(desktop) {
    margin: 0 auto;
    max-width: $container;
  }
}

.main-content {
  &.has-sidebar {
    margin-bottom: rem(10px);
  }
}

main {
  padding-top: rem(10px);
}

@include breakpoint(desktop) {
  .main-content {
    &.has-sidebar {
      float: left;
      margin-bottom: 0;
      margin-left: 24.16667%;
      margin-right: -100%;
      width: 75.83333%;
    }
  }

  .sidebar-left {
    float: left;
    width: 24.16667%;
    margin-left: 0%;
    margin-right: -24.16667%;
    padding-right: rem(10px);
  }
}
